<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer{
            padding-top: 200px;
            background-color: cornflowerblue;
        }

    </style>
</head>
<body>
    <div class="footer">
        <a href="/"><button>หน้าหลัก</button></a>
        <a href="/cart"><button>ตะกร้าสินค้า</button></a>
    </div>
</body>
</html>