<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        
        body{
            margin: 50px;
        }
        .select_language{
            margin-left: 80px;
            margin-top: 40px;
        }
        img{
            width: 120px;
            height: 80px;
        }
        .flag{
            display: flex;
            gap: 20px;
        }
        .btn_language{
            background: none;
            border: none;
            color: inherit; 
            cursor: pointer;
        }
        .logo{
            display: block;  
            margin: 20px auto;
            margin-top: 350px;
            width: 721px;
            height: 559px;
            text-align: center
            
        }
        

    </style>
</head>
<body>
    <div class="container">
        <h2 class="select_language">เลือกภาษา</h2>
        
        <div class="flag">
            <button class="btn_language" type="submit" name="lang" value="thai"><a href="/thai"><img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Flag_of_Thailand_%28proposed_shade_of_colours%29.png" alt=""></a></button> 
            <button class="btn_language" type="submit" name="lang" value="eng"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/1024px-Flag_of_the_United_Kingdom_%283-5%29.svg.png"></button>
        </div>
        
        <img class="logo" src="https://sdmntprwestcentralus.oaiusercontent.com/files/00000000-ca24-61fb-9c68-6b8ffed4ac26/raw?se=2025-09-24T09%3A46%3A20Z&sp=r&sv=2024-08-04&sr=b&scid=9630ec94-b3d3-51fd-a7c8-c11eeefea47e&skoid=cb94e22a-e3df-4e6a-9e17-1696f40fa435&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-23T21%3A39%3A47Z&ske=2025-09-24T21%3A39%3A47Z&sks=b&skv=2024-08-04&sig=60/jmlN07uXy9auDr8VZ1PLST04vrv9140HvVWDyA04%3D">
        
        <button></button>


    </div>
    
    

</body>
</html>