<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .menu-Container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="menu-Container">
        <% data.forEach((item)=>{ %>
            <div class="card">
                <img src="/img/menu/<%=item.category_id%>/<%=item.name_eng%>.png" alt="">
                <p><%=item.name_thai%></p>
                <a href="/more/<%=item.menu_item_id%>"><button>+</button></a>
            </div>

        <% }); %>
    </div>
</body>
</html>