<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .banner{
        width:1200px ;
        height: 341px;
    }
    </style>
</head>
<body>
    <img class="banner" src="https://sdmntprukwest.oaiusercontent.com/files/00000000-4eec-6243-8e88-e9dc609473cd/raw?se=2025-09-25T15%3A05%3A10Z&sp=r&sv=2024-08-04&sr=b&scid=de18c20e-6e1e-5197-a60a-885a6e220d54&skoid=03727f49-62d3-42ac-8350-1c0e6559d238&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-24T23%3A33%3A58Z&ske=2025-09-25T23%3A33%3A58Z&sks=b&skv=2024-08-04&sig=EIXsoDo6%2B2v2cYjntxdbw6thGJixq7/m75ET845p8o4%3D" alt="">
</body>
</html>